    #speava_session_notification {
        margin-top: 10px !important;
    }

    #speava_session_notification.display_dialog {
        visibility: visible !important;
        margin-top: 10px !important;
    }

    #speava_session_notification.display_none {
        display: flex !important;
        visibility: hidden !important;
    }
    #speava_session_notification.option_notification {
        font-size: 12px  !important;
        visibility: visible !important;
    }

    #speava_caption_reaction {
        font-size: 24px !important;
        tab-index: 3;
    }
    #speava_caption_reaction.display_none{
        visibility: hidden !important;
    }

    #speava_textarea {
        position : absolute;
    }
    #speava_textarea.display_none{
        visibility: hidden !important;
    }
    #speava_textarea.option_notification {
        font-size: 12px  !important;
    }

    #speava_textarea > div {
        font-size : 12px;
    }

    .item {
        font-size : 12px;
        display:inline-block;
    }
    .head {
        font-size : 24px;
        display:inline-block;
    }

    .item_blue {
        background-color : darkblue !important;
        font-size : 24px;
        display:inline-block;
    }

    .item_red {
        background-color : indianred !important;
        font-size : 24px;
        display:inline-block;
    }

    .text_item {
        font-size : 24px;
        display:inline-block;
    }

    .text_head {
        font-size : 48px;
        display:inline-block;
    }

    #speava_caption_container  {
        display: flex !important;
        flex-flow: column;
        flex-direction: column !important;
        position : absolute !important;
    }

    .repeat_flash {
        animation-name: blinking;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        font-size: 24px;
    }

    @keyframes blinking {
        from {
            color: #FFFFFF;
        }
        to {
            color: indianred;
        }

    }

    .speava_button {
        border-radius: 10px;
        line-height: 2.5;
    }

    .speava_button_active {
        background-color: #ac2925;
    }