    #speava_session_notification {
        color: #FFFFFF !important;
        font-size: 48px !important;
        margin-top: 10px !important;
        z-index: 102 !important;
    }

    #speava_session_notification.display_dialog {
        /*display: flex  !important;*/
        visibility: visible !important;
        color: #FFFFFF !important;
        font-size: 48px !important;
        margin-top: 10px !important;
    }

    #speava_session_notification.display_none {
        display: flex !important;
        visibility: hidden !important;
    }
    #speava_session_notification.option_notification {
        color: rgba(255, 255, 255, 0.5) !important;
        font-size: 12px  !important;
        visibility: visible !important;
    }

    #speava_caption_reaction {
        /*display: flex !important;*/
        color: rgba(255, 255, 255, 0.5) !important;
        font-size: 24px !important;
        /*position: relative;*/
        /*position : absolute !important;*/
        /*left : 300px !important;*/
        /*top : 144px !important;*/
        /*size : 150px !important;*/
        z-index: 120 !important;
        tab-index: 3;
    }
    #speava_textarea {
        color : #FFFFFF;
        /*font-size : 48px;*/
        position : absolute;
        width: 300px;
        z-index: 101;
    }

    #speava_textarea.option_notification {
        color: rgba(255, 255, 255, 0.5) !important;
        font-size: 12px  !important;
    }

    #speava_textarea > div {
        font-size : 12px;
        /*line-height: 12px;*/
    }

    #speava_textarea > div .item {
        color : #FFFFFF;
        font-size : 12px;
        /*line-height: 12px;*/
        z-index: 101;
        width:100px;
        display:inline-block;
    }
    #speava_textarea > div .head {
        color : #FFFFFF;
        /*line-height: 24px;*/
        font-size : 24px;
        z-index: 101;
        width:100px;
        display:inline-block;
    }

    #speava_textarea > div > span.item {
        color : #FFFFFF;
        background-color : darkblue;
        font-size : 24px;
        display:inline-block;
    }

    #speava_textarea > div > span.item_red {
        color : #FFFFFF;
        background-color : indianred;
        font-size : 24px;
        display:inline-block;
    }

    #speava_textarea > div > span.text_item {
        color : #FFFFFF;
        font-size : 24px;
        /*line-height: 12px;*/
        display:inline-block;
    }

    #speava_textarea > div > span.text_head {
        color : #FFFFFF;
        /*line-height: 24px;*/
        font-size : 48px;
        display:inline-block;
    }

    #speava_caption_container > div {
        /*display: flex !important;*/
        /*flex-flow: column;*/
        /*flex-direction: column !important;*/
        /*position : absolute !important;*/
        /*left : 300px !important;*/
        /*top : 144px !important;*/
        /*size : 150px !important;*/

    }

    #speava_caption_container  {
        display: flex !important;
        flex-flow: column;
        flex-direction: column !important;
        position : absolute !important;
        left : 300px !important;
        top : 144px !important;
        /*size : 150px !important;*/

    }