<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Live caption analytics</title>
</head>
<body>
<h3>Start live caption analytics</h3>
<div><span>userid:</span><span>{{userid}}</span></div>
<div><span>given_name:</span><span>{{given_name}}</span></div>
<div><span>email:</span><span>{{email}}</span></div>

<div><a href="/lca/sample_speaking_session">Click here</a> to start browser-based session</div>
<div><a href="/index">Click here</a> to start authentication process</div>
</body>
</html>