<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication</title>
</head>
<body>
<table>
<tr><td><a href="/">Show start page</a></td>
<td>Show start page</td></tr>

<tr><td><a href="/test">Authenticate</a></td>
<td>Submit an API request and see a formatted JSON response.
    Go through the authorization flow if there are no stored
    credentials for the user.</td></tr>
<tr><td><a href="/authorize">Test the auth flow directly</a></td>
<td>Go directly to the authorization flow. If there are stored
    credentials, you still might not be prompted to reauthorize
    the application.</td></tr>
<tr><td><a href="/revoke">Revoke current credentials</a></td>
<td>Revoke the access token associated with the current user
    session. After revoking credentials, if you go to the test
    page, you should see an <code>invalid_grant</code> error.
</td></tr>
<tr><td><a href="/clear">Clear Flask session credentials</a></td>
<td>Clear the access token currently stored in the user session.
    After clearing the token, if you <a href="/test">test the
    API request</a> again, you should go back to the auth flow.
</td></tr></table>

</body>
</html>