<!DOCTYPE html>
<html lang="en" xmlns:border="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List sessions</title>
    <style>
        table,
td {
    border: 1px solid #333;
}
    </style>
</head>
<body>
<a href="/">Show start page</a>
<div><span>email:</span><span>{{email}}</span></div>
<div>Select range</div>
<form action="/list_session" method="POST" enctype="multipart/form-data">
<table>
    <tr>
        <td><span><label for="session_name">Session name (search/create):</label></span></td>
        <td><span><input type="input" id="session_name" name="session_name" value="{{session_name}}"></span></td>
    </tr>
    <tr>
        <td><span><label for="start_date">From:</label></span></td>
        <td><span><input type="date" id="start_date" name="start_date" value="{{start_date}}"></span></td>
    </tr>
    <tr>
        <td><span><label for="end_date">To:</label></span></td>
        <td><input type="date" id="end_date" name="end_date" value="{{end_date}}"></td>
    </tr>
</table>
<div><input type="submit" name="search" value="Search"></div>
<div><input type="submit" name="create" value="Create a session under the name"></div>
</form>

<table>
    <tr><td><b>List of sessions</b></td></tr>
{% if (df_list is none): %}
    <tr>
        <td>Search to find sessions</td>
        <td></td>
    </tr>
{% elif (df_list|length == 0): %}
    <tr>
        <td>No sessions are found</td>
        <td></td>
    </tr>
    {% else %}
    <tr>
        <td>id</td>
        <td>Session name</td>
        <td>Show full info</a></td>
        <td>Add/remove authorized users</a></td>
        <td>Show runtime captioning</td>
        <td>Download caption</td>
        <td>Download vocab</td>
        <td>created at</td>
    </tr>

    {% for index, item in df_list.iterrows(): %}
    <tr>
        <td>{{item['session_id']}}</td>
        <td>{{item['external_session_name']}}</td>
        <td><a href="/render_in_full?session={{item['session_id']}}">full info</a></td>
        <td><a href="/personalize_session_authorization?session={{item['session_id']}}">Change</a></td>
        <td><a href="/caption?session={{item['session_id']}}">runtime captioning</a></td>
        <td><a href="/download_caption?session={{item['session_id']}}">Download</a></td>
        <td><a href="/download_vocab_frequency?session={{item['session_id']}}">Download</a></td>
        <td>{{item['created_on']}}</td>
    </tr>
{% endfor %}
    {% endif %}

</table>

</body>
</html>