<HTML>
    <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/i18next/2.0.22/i18next.min.js" ></script>
    <script type="text/javascript" src="/static/js/inbrowser.js"></script>
    <script src="../static/js/loc-i18next.min.js" ></script>
    <title>Test sample</title>
</head>
<script>
</script>
</HEAD>
<body style="background-color: #a9a9a9;">
<h3>Start live caption analytics</h3>
<div id="speava_textarea"></div>
<div style="display:none"><span>userid:</span><span>{{userid}}</span></div>
<div style="display:none"><span>given_name:</span><span>{{given_name}}</span></div>
<div style="display:none"><span>email:</span><span>{{email}}</span></div>
<div style="display:none"><span>expires in (seconds):</span><span>{{expires_in}}</span></div>
<div style="display:none"><span>session id:</span><span id="session_id">{{session_id}}</span></div>

</BODY>
</HTML>
